* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 375px;
  width: 90%;
  margin: 0 auto;
}
header {
  width: 100%;
  padding: 25px 0;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
header .container .logo {
  height: 35px;
}
header .container .logo img {
  height: 100%;
}
header .container nav {
  display: none;
}
header .container .menu {
  display: inline-block;
}
li {
  list-style: none;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero .heroContent img {
  height: 40vh;
  width: 100%;
  background-size: contain;
}
.hero .heroContent h1 {
  font-family: url('/src/assets/fonts/static/Inter-ExtraBold.ttf');
  font-size: 3rem;
  margin: 0.8rem 0;
}
.hero .heroContent p {
  color: hsl(236, 13%, 42%);
}
.hero .heroContent .heroButton {
  padding: 15px 20px;
  background-color: hsl(5, 85%, 63%);
  border: none;
  margin: 1rem 0 2rem 0;
}
.hero aside {
  background-color: hsl(240, 100%, 5%);
  padding: 15px;
}
.hero aside h2 {
  color: hsl(35, 77%, 62%);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.hero aside .newContent {
  border-bottom: solid 0.1px hsl(236, 13%, 42%);
  margin: 1rem 0;
}
.hero aside .newContent h3 {
  color: hsl(36, 100%, 99%);
  margin-bottom: 1rem;
}
.hero aside .newContent p {
  color: hsl(233, 8%, 79%);
  margin-bottom: 1rem;
}
.topNews {
  display: flex;
  flex-direction: row;
  width: 340px;
  height: 150px;
  margin: 2rem 0;
}
.topNews .detailsNews {
  padding-left: 25px;
}
.topNews .detailsNews h2 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  color: hsl(5, 85%, 63%);
  opacity: 0.8;
}
.topNews .detailsNews h4 {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}
/*
@media screen and (min-width:1240px) {
    .container{
        max-width: 1240px;
        width: 100%;
    }

    .hero{
        display: flex;
        flex-direction: row;
        .heroContent{
            margin-right: 20px;
        }


    }
}
    */

